@{
    Layout = "_Layout";
}

@Html.Partial("_Header");

<div class="container">

    <div style="float:right;">
        <form method="post">
            <button formaction="/stylists/new" class="btn btn-link" type="submit">add stylist</button>
            @if (@Model.Count > 0)
            {
                <button formaction="/stylists/delete" class="btn btn-link" type="submit">delete all</button>
            }
        </form>
    </div>

    @if (@Model.Count == 0)
    {
        <div>No stylists have been added yet!</div>
    }
    else
    {
        <div>Click on the individual stylist to add clients or specialties.</div>
        <br />
        @foreach (var stylist in Model)
        {
            <ul>
                <li>
                    <form method='post'>
                        <button formaction="/stylists/@stylist.GetId()" formmethod="get" class="btn btn-link" style="font-size:14pt;color:darkgreen;">@stylist.GetName()</button>
                        <button formaction="/stylists/@stylist.GetId()/edit" type='submit' class="btn btn-link">edit</button>
                        <button formaction="/stylists/@stylist.GetId()/delete" type='submit' class="btn btn-link">delete</button>
                    </form>

                    <div style="margin-left:35px;">
                        <div style="font-weight:bold;margin-top:5px;">Specialties:</div>
                        <ul>
                            @foreach (var specialty in stylist.GetSpecialties())
                            {
                                <li>@specialty.GetDescription()</li>

                            }
                        </ul>

                        <div style="font-weight:bold;margin-top:10px;">Clients:</div>
                        <ul>
                            @foreach (var client in stylist.GetClients())
                            {
                                <li>@client.GetName()</li>

                            }
                        </ul>
                    </div>
                </li>
            </ul>
        }
    }
</div>